body{
	style="font-size:8vw;"
	letter-spacing:5px;
	font-size:15px;
	color:#455454;	
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:20px;
}

li a:hover:not(.active) {
  background-color: #111;
}


.logo {
  display: block;
  padding: 120px 650px 5px;

}

h2{
    text-align: center;
    padding: 1px 20px;
}

h1{
    text-align: center;
    padding: 150px 80px 20px;
    font-size: 40px;
}

.build{
  display: block;
  padding: 10px 250px 5px;
}

h3{
    text-align: left;
    padding: 10px 250px 5px;
      font-family:sans-serif;

}

.head{
    text-align: center;
    padding: 10px 300px 5px;
      font-family:sans-serif;
      font-size: 18px;
}

table.GeneratedTable {
  width: 70%;
  opacity: 0.8;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3366ff;
  border-style: solid;
  color: black;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  background-color:#d7d7db;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 4px;
  border-color: black;
  border-style: solid;
  padding: 20px;
}

table.GeneratedTable thead {
  background-color: grey;
}
